<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    {% for post in posts %}
        {{ post.name | title }} | {{ post.url }}
    {% endfor %}

    {{ string.texter }}
</body>
</html>