<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ extra.titlePrefix }} | {{ page.name }}</title>
</head>
<body>
    {{ page.content }}
    {{ config.title }}
</body>
</html>