.category-list {
    a {
        display: block;
        float: left;
        width: 100%;
        padding: em(10);
        border-left: 5px solid #ccc;
        background-color: #f5f5f5;
        margin-bottom: em(5);

        .posts {
            float: right;
            text-align: right;
        }
    }
}