<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    {% for post in category.posts | paginate(pageNumber, 10) %}
        {{ post.name }} {{ post.parent.url }}
    {% endfor %}

    {% set sub = getAllCategoryPosts(category.link) %}

    {% for category in sub %}
        {{ category.name }}
    {% endfor %}


</body>
</html>