<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    {% for post in posts | paginate(pageNumber, 10) %}
        {{ post.name }}
    {% endfor %}


</body>
</html>