<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ extra.titlePrefix }} | {{ post.name }}</title>
</head>
<body>
    {{ post.content }}

    {{ category.name }}
</body>
</html>